<!DOCTYPE html>
<html>
<head>
    <title>Edit Plan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Edit Plan: {{ plan.name }}</h1>

    <a href="{{ url_for('user_info') }}" class="user-info-button">User Info</a>

    <form action="{{ url_for('edit_plan', plan_id=plan_id) }}" method="post">
        Plan Name: <input type="text" name="plan_name" value="{{ plan.name }}" required><br>
        Dates: <input type="text" name="dates" value="{{ plan.dates }}" required><br>
        Travel Method: <input type="text" name="travel_method" value="{{ plan.travel_method }}" required><br>
        Notes: <textarea name="notes">{{ plan.notes }}</textarea><br>
        <input type="submit" value="Update">
    </form>

    <div class="bottom-buttons">
        <a class="button" href="{{ url_for('home') }}">My Plans</a>
        <a class="button" href="{{ url_for('create_plan') }}">Create a Plan</a>
        <a class="button" href="{{ url_for('recommendations_page') }}">Recommended Plans</a>
    </div>
</body>
</html>
