<!DOCTYPE html>
<html>
<head>
    <title>Edit Plan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Edit Plan: </h1>

    
    <!-- <form action="{{ url_for('edit_plan') }}" method="post">
        <select name="plan_to_delete">
            {% for plan in plans %}
                <option value="{{ plan.plan_id }}">{{ plan.plan_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Edit this Plan">
    </form> -->

    <form action="{{ url_for('edit_plan', plan_id=plan_id) }}" method="post">
        <label for="plans">Choose a plan:</label>
        <select name="plan_to_edit">
            {% for plan in plans %}
                <option value="{{ plan.plan_name }}">{{ plan.plan_name }}</option>
            {% endfor %}
        </select> <br>
        Plan Name: <input type="text" name="plan_name" ><br>
        
        Departure Date: <input type="date" name="dep_date" ><br>
        Return Date: <input type="date" name="ret_date" ><br>
        Travel Method: <input type="text" name="travel_method" ><br>
        Notes: <textarea name="notes"></textarea><br>
        <input type="submit" value="Update">
    </form> 


    <div class="bottom-buttons">
        <a class="button" href="{{ url_for('home') }}">My Plans</a>
        <a class="button" href="{{ url_for('create_plan') }}">Create a Plan</a>
        <a class="button" href="{{ url_for('recommendations_page') }}">Recommended Plans</a>
    </div>
</body>
</html>
