<!DOCTYPE html>
<html>
<head>
    <title>Travel Plans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to Travel Planner!</h1>

    <a href="{{ url_for('user_info') }}" class="user-info-button">User Info</a>

    <!-- Search bar -->
    <form action="{{ url_for('home') }}" method="post">
        <input type="text" name="search_query" placeholder="Search your plans...">
        <button type="submit">Search</button>
    </form>
    
    <h2>Your Plans</h2>
    <ul>
        {% for plan in plans %}
            <!-- Corrected the link here -->
            <li><a href="{{ url_for('edit_plan', plan_id=loop.index0) }}">{{ plan.plan_name }} via {{ plan.travel_method }} ({{ plan.dep_date }})
                ({{ plan.ret_date }})
                ({{ plan.notes }})
            </a></li>
        {% endfor %}
    </ul>

    <div class="bottom-buttons">
        <a class="button" href="{{ url_for('home') }}">My Plans</a>
        <a class="button" href="{{ url_for('create_plan') }}">Create a Plan</a>
        <a class="button" href="{{ url_for('recommendations_page') }}">Recommended Plans</a>
    </div>
</body>
</html>
